.wrapper-homepage-two{
  background-color: #030C19;
}

.home-page-two {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.home-two-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  gap: 0px;
}

.home-two-extra {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  padding: 30px 50px;
}

.home-two-card-ai {
  background-color: #0A1422;
  width: 100%;
  max-width: 420px; /* Atur ukuran card */
  height: 440px; /* Tinggi tetap agar konsisten */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.home-two-card-board {
  background-color: #0A1422;
  width: 100%;
  max-width: 420px; /* Atur ukuran card */
  height: 440px; /* Tinggi tetap agar konsisten */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.home-two-card-todo {
  background-color: #0A1422;
  width: 100%;
  max-width: 440px; /* Atur ukuran card */
  height: 430px; /* Tinggi tetap agar konsisten */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.home-two-card-ai:hover,
.home-two-card-board:hover,
.home-two-card-todo:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 20px rgba(0, 255, 149, 0.5); /* Glow hijau */
  transition: all 0.3s ease-in-out;
}
