.mate-chart-container {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    overflow-y: auto;
    margin-left: 80px;
}

.mate-chart-header {
    width: 100%;
    display: flex;
    text-align: left;
}

.mate-chart-title {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 2px solid #00FF95;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0;
}

.mate-chart-content {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 100%;
}

.mate-chart-left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mate-chart-right-column {
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .mate-chart-content {
        grid-template-columns: 1fr; /* Ubah ke satu kolom pada layar kecil */
    }

    .mate-chart-container {
        padding: 10px; /* Kurangi padding pada layar kecil */
        margin-left: 0; /* Hilangkan margin kiri pada layar kecil */
    }
}