/* CTA Section */
.cta-section {
    position: relative;
    width: 100%; /* Lebar penuh */
    background: var(--G2, linear-gradient(180deg, #008D53 0%, #1FA970 100%)); /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    padding: 1rem 0; /* Padding atas dan bawah */
    overflow-x: visible; /* Pastikan tidak ada overflow yang dipotong */
    margin-top: 12rem;
    margin-bottom: 8rem;
}

.cta-section .icon-1,
.cta-section .icon-2,
.cta-section .icon-3,
.cta-section .icon-4,
.cta-section .icon-5,
.cta-section .icon-6 {
    position: absolute;
    fill: rgba(255,255,255,0.1);
    z-index: 2;
}

.cta-section .icon-1 { top: 30%; left: 20%; transform: rotate(-11.37deg); }
.cta-section .icon-2 { top: 30%; right: 10%; }
.cta-section .icon-3 { top: 60%; left: 10%; transform: rotate(-12.666deg); }
.cta-section .icon-4 { bottom: 20%; right: 5%; }
.cta-section .icon-5 { bottom: 10%; left: 28%; }
.cta-section .icon-6 { bottom: 10%; right: 20%; }

/* CTA Content */
.cta-content {
    max-width: 100%; /* Lebar maksimal penuh */
    margin: 0 auto; /* Pusatkan konten */
    padding: 0 1rem; /* Padding kiri dan kanan */
    text-align: center; /* Teks di tengah */
}

/* CTA Title */
.cta-title {
    font-size: 2.5rem; /* Ukuran font besar */
    font-weight: bold; /* Tebal */
    margin-bottom: 1rem; /* Jarak bawah */
}

/* CTA Description */
.cta-description {
    font-size: 1.25rem; /* Ukuran font sedang */
    margin-bottom: 2rem; /* Jarak bawah */
}

/* CTA Buttons */
.cta-buttons {
    display: flex;
    justify-content: center; /* Tombol di tengah */
    gap: 1rem; /* Jarak antara tombol */
}

/* CTA Button */
.cta-button-1 {
    background-color: white; /* Latar belakang putih */
    color: #000; /* Warna teks hijau */
    font-weight: bold; /* Tebal */
    padding: 0.75rem 1.5rem; /* Padding tombol */
    border-radius: 20px; /* Bentuk bulat */
    text-decoration: none; /* Hilangkan underline */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi */
}

.cta-button-2 {
    background-color: #030C19; /* Latar belakang putih */
    color: #fff; /* Warna teks hijau */
    font-weight: bold; /* Tebal */
    padding: 0.75rem 1.5rem; /* Padding tombol */
    border-radius: 20px; /* Bentuk bulat */
    text-decoration: none; /* Hilangkan underline */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi */
}

.cta-button:hover {
    background-color: #f0f0f0; /* Warna latar belakang saat hover */
    color: #115e3a; /* Warna teks lebih gelap saat hover */
}