.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 50%;
    border: none;
}

.search-input {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 20px;
    background-color: #151a23;
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #2a2f37;
}

.search-input i {
    color: #9ca3af;
    margin-right: 12px;
    font-size: 16px;
}

.search-input input {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 0;
}

.search-input input::placeholder {
    color: #9ca3af;
    font-size: 14px;
}

.search-input input:focus {
    outline: none;
    border-bottom: 1px solid #10b981; /* Tambahkan efek fokus */
}

.search-actions {
    display: flex;
    align-items: center;
    background-color: #151a23;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid #2a2f37;
}

.search-actions a {
    color: #9ca3af;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
}

.search-actions a:hover {
    background-color: #2a2f37;
}

.search-actions a:focus {
    outline: none;
    background-color: #10b981;
}

.search-actions a.active {
    color: white;
}

.search-actions a.active svg {
    stroke: white;
}

.search-actions a.active svg path {
    stroke: white;
    fill: transparent;
}

.search-actions i {
    font-size: 16px;
}