/* FAQ Container */
.faq-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5rem;
}

/* FAQ Header */
.faq-header {
    text-align: center;
    margin-bottom: 3rem;
}

.faq-title {
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
}

.faq-subtitle {
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 100;
}

/* FAQ Items */
.faq-item {
    background-color: #030C19;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.faq-question {
    margin: 0;
    font-size: 16px;
    color: white;
}

.faq-toggle {
    font-size: 20px;
    color: #fff;
}

/* FAQ Contact Section */
.faq-contact-section {
    border-radius: 16px;
    border: 0.5px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 5rem;
    width: 100%;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto; 
}

.faq-contact-input-wrapper {
    flex-grow: 1;
    padding: 12px 20px;
    position: relative;
}

.faq-contact-input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

.faq-contact-input::placeholder {
    color: white;
}

.faq-contact-btn {
    background: #1FA970;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}