.top-home-ai-section {
  background: linear-gradient(to bottom, #00FF95, #08C476);
  border-radius: 20px;
  width: 45%;
  height: 310px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

/* Hover Effect */
.top-home-ai-section:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0px 5px 20px rgba(0, 255, 149, 0.6);
  background: linear-gradient(to bottom, #00FF95, #00B472);
}

/* Animasi subtle untuk efek halus */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0px); }
}

.top-home-ai-section:hover {
  animation: floating 1s ease-in-out infinite;
}


.mate-logo-home-two {
  height: 279px;
  position: relative;
  top: 15px;
}

.top-home-ai-btn {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.top-home-ai-title-up {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.top-home-ai-title-down {
  width: fit-content;
  background-color: white;
  color: #00FF95;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px 10px;
  display: flex;
  justify-content:center;
  cursor: pointer;
}

.top-home-ai-title-down:hover {
  background-color: transparent;
  color: white;
  transition: .2s ease-in-out;
}