/* Main styles */
body         {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #030C19 0%, #102540 7.05%, #030C19 18.03%, #07101D 34.8%, #030C19 44.54%, #0E2039 57.75%, #0E2039 64.75%, #030C19 86.29%);
    color: white;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#chart-page {
    background: #030C19; /* Ganti dengan warna atau gradient yang kamu inginkan */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
}

/* Landing page styles */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    text-align: center;
    overflow-y: auto;
}

/* Global styles */
.text-green {
    color: #00FF95;
}

:root {
    --bg-dark: #030C19;
    --bg-dark-light: #0A1422;
    --green-primary: #00E676;
    --text-light: #FFFFFF;
    --text-gray: #B0B0B0;
    --card-bg: #2C2C2C;
}